@model IEnumerable<Publications.Models.ViewModels.TemplateVM>

@{
    ViewData["Title"] = "Browse";
}


<div class="row">
    <div class="col-sm-8">
        <h2 class="header">
            Szablony publikacji
        </h2>
    </div>
    <div class="col-sm-4">
        <div class="pull-right">
            <a asp-action="Add" class="btn btn-success" id="btnAdd" style="margin-top:20px;"><span class="glyphicon glyphicon-plus"></span> Nowy szablon</a>
        </div>

    </div>
</div>

<br />

<table class="table templates-table table-striped">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Data utworzenia
            </th>
            <th>
                Data modyfikacji
            </th>
            <th class="nosort">
                Opis
            </th>
            <th class="nosort"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="col-sm-3">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="col-sm-3">
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td class="col-sm-3">
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td class="col-sm-1" style="padding-right:0px;">
                <span data-toggle="tooltip" data-placement="top" title="@item.Description"><u>Opis</u></span>
            </td>
            <td class="col-sm-2" style="padding-right:0px;">
                <a asp-action="Details" asp-route-templateId="@item.TemplateId" data-toggle="tooltip" data-placement="top" title="Szczegóły"><span class="glyphicon glyphicon-edit glyph-button"></span></a>&nbsp;&nbsp;
                <a asp-action="Remove" asp-route-templateId="@item.TemplateId" data-toggle="tooltip" data-placement="top" title="Usuń"><span class="glyphicon glyphicon-remove glyph-button"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>



<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $(".templates-table").DataTable({
            language: {
                "processing": "Przetwarzanie...",
                "search": "Szukaj:",
                "lengthMenu": "Pokaż _MENU_ pozycji",
                "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                "infoEmpty": "Pozycji 0 z 0 dostępnych",
                "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                "infoPostFix": "",
                "loadingRecords": "Wczytywanie...",
                "zeroRecords": "Nie znaleziono pasujących pozycji",
                "emptyTable": "Brak danych",
                "paginate": {
                    "first": "Pierwsza",
                    "previous": "Poprzednia",
                    "next": "Następna",
                    "last": "Ostatnia"
                },
                "aria": {
                    "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                    "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
                }
            },
            aoColumnDefs: [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });
    });

</script>