@model Publications.Models.Statistisc.StatisticsViewModel

@{
    ViewData["Title"] = "Statystyki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statystyki</h2>

<div>
    <hr />
    <dl class="dl-horizontal">      
        <dt>
            Okres czasu:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeAmount)
        </dd>
        @if (!string.IsNullOrEmpty(Model.AuthorName))
        {
            <dt>
                Autor:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AuthorName)
            </dd>
        } 
        @if (!string.IsNullOrEmpty(Model.KnowledgeBranchName))
         {
             <dt>
                 Dziedzina wiedzy:
             </dt>
             <dd>
                 @Html.DisplayFor(model => model.KnowledgeBranchName)
             </dd>
         }
        <dt>
            Ilosc publikacji:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicationsCount)
        </dd>
        <dt>
            Procent wszystkich:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PercentOfAllPublications)
        </dd>
         <dt>
            Publikacje/galaz wiedzy:
        </dt>
        <dd>
            @Html.Partial("_DictionaryWithIntegerKeyDisplay", Model.PublicationsPerKonwledgeBranch)
        </dd>   
        
        <dt>
            % publikacji na galaz wiedzy:
        </dt>
        <dd>
            @Html.Partial("_DictionaryDisplay", Model.PercentOfPublicationsPerKonwledgeBranch)
        </dd>   

    </dl>  
    
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="ZatwierdŸ" class="btn btn-default" />
        </div>
    </div>
</div>
