@model IEnumerable<Publications.Models.ViewModels.PublicationVM>


@{
    ViewData["Title"] = "PublicationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string adminRole = "Admin";
    bool isAdmin = User.IsInRole(adminRole);
}

    

<h2>PublicationList</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="publications" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-publicationId="@item.Id" data-toggle="tooltip" data-placement="top" title="Szczegóły"><span class="glyphicon glyphicon-check glyph-button"></span></a>&nbsp;&nbsp;
                    
                   @if (isAdmin)
                   {
                    <a class="removeBtn" data-publicationId="@item.Id" data-toggle="tooltip" data-placement="top" title="Usuń" style="margin-right:8px"><span class="glyphicon glyphicon-erase glyph-button"></span></a>
                    <a asp-action="EditPublication" asp-route-publicationId="@item.Id" data-toggle="tooltip" data-placement="top" title="Edytuj"><span class="glyphicon glyphicon-pencil glyph-button"></span></a>
                   }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
@*<script src="~/lib/datatable/datatables.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#publications").DataTable();
    });
    $(".removeBtn").click(function () {
        var id = $(this).attr("data-publicationId");
        var btn = $(this);
        bootbox.confirm({
            message: "Czy na pewno chcesz usunąć szablon?",
            buttons: {
                confirm: {
                    label: 'Tak',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Nie',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    var data = { publicationId: id };
                    alert(JSON.stringify(data));
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Remove")",
                        data: data,
                        success: function (message) {
                            btn.closest("tr").remove();
                        }
                    });
                }
            }
        });
    });
</script>
