@model IEnumerable<Publications.Models.ViewModels.UserListVM>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>U?ytkownicy</h2>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />

<table class="table" id="userTable">
    <thead>
        <tr>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.isAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.isAdmin)
                </td>
                <td>
                    @if (item.isAdmin)
                    {
                        <a asp-area="" asp-controller="Administration" asp-action="RemoveAdmin" asp-route-id="@item.Id" class="btn btn-success">Usun admina</a>
                    }
                    else
                    {
                        <button id="addAdminBtn" data-id="@item.Id" class="btn btn-info">Daj admina</button>
                    }
                    <button id="removeUserBtn" data-id="@item.Id" class="btn btn-danger">Usun uzytkowniaka</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
   <script>
       $(document).ready(function () {
           $("#userTable").DataTable();
       });
    </script>

    <script>
        $("#addAdminBtn").click(function () {
            userId = $(this).attr("data-id");
            bootbox.confirm({
                message: "Czy na pewno chcesz da? temu u?ytkownikowi administratora?",
                buttons: {
                    confirm: {
                        label: 'Tak',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Nie',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        window.location.replace("@Url.Action("AddAdmin", "Administration", new { id = "userId" })".replace("userId", userId));
                    }
                }
            });
        });

        $("#removeUserBtn").click(function () {
            userId = $(this).attr("data-id");
            bootbox.confirm({
                message: "Czy na pewno chcesz usun?? tego u?ytkownika?",
                buttons: {
                    confirm: {
                        label: 'Tak',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Nie',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        window.location.replace("@Url.Action("DeleteUser", "Administration", new { id = "userId" })".replace("userId", userId));
                    }
                }
            });


        });
    </script>
}